<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ZoneName" value=""/> <!-- Main DNS that is registered with cloudflare. Example mydnsname.net -->
    <add key="ApiKey" value=""/> <!--Get from cloudflre console-->
    <add key="AuthEmail" value=""/> <!--you login email address-->
    <add key="PublicIpUpdaterDnsName" value=""/> <!--The A record DNS name that needs to be updated with public IP. For ex, workpc.mydns.net-->
    <add key="PublicIpUpdaterIntervalMs" value="20000"/> <!-- 20 seconds-->
  </appSettings>
</configuration>